<div class="container">
  <div class="row">

    <p id="notice"><%= notice %></p>

    <div class="page-header">
        <h1>Posts</h1>
    </div>
      <% @posts.each do |post| %>
        <div class="row">
          <div class="col-md-2">
            <div class="thumbnail">
              <img src=" <%= post.image unless post.image.nil? %> " alt=" <%= post.title %> " style="max-height: 80px; max-width: 100px;">
            </div>
          </div>
          <div class="col-md-9">
            <h3><%= link_to post.title, "#{post.link}" %></h3>
          </div>
          <div class="col-md-1">
            <%= render 'thumbs', votes: post.votes %>
          </div>
        </div>
      <% end %>
    <br>

    <%= link_to 'New Post', new_post_path, class: "btn btn-default pull-right" %>
  </div>
</div>
