<!DOCTYPE html>
<html>
  <head>
    <title>Blehddit</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
          <header>
            <%= render 'layouts/header' %>
          </header>
          <section>
              <%= render 'layouts/flash_messages' %>
              <%= yield %>
          </section>
          <footer class="navbar-default navbar-fixed-bottom">
            <%= render 'layouts/footer' %>
          </footer>
    </div>
  </body>
</html>
